{% extends "layout.html" %}

{% block bannerContent %}
    <div class="prices-row">
        <div class="pill">
            <h3>Prices</h3>
        </div>

        <div class="x">
            <span>Gold</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Silver</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Platinum</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        
        <div class="pill black">
            <h3>Charts</h3>
        </div>


    </div>
    <hr class="divider-h">




{% endblock bannerContent %}


{% block content %}
    <div class="display">
        <div class="text">
            <h2>Precious Metals IRA</h2>
            <p>

            </p>

        </div>
        
        <div class="buy">
            <h3>Buy Gold and Silver</h3>
            <div class="home-cards">
                <div class="home-card">
                    <img src="" alt="">
                    <h4>American Gold eagle</h4>
                    <p>1oz <span>$4500</span></p>
                </div>
                <div class="home-card">
                    <img src="" alt="">
                    <h4>American Silver eagle</h4>
                    <p>1oz <span>$4500</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="ribbon">
        <div class="statement">
            <div class="shape">
                <img src="" alt="">
            </div>
            <div class="CTA">
                <h3>The value has never been zero. Invest now...</h3>
                <button class="secure">Secure your future</button>
            </div>
        </div>
        <div class="accr">

        </div>
    </div>
    <div class="why">
        <div class="whybuy">
            <h2>Why buy Gold?</h2>
            <p>Gold is maintaining its stance at the forefront of smart investment options. Our clients value their retirement; therefore, many are depending on a gold individual retirement account. Unlike gold investments, the value of traditional individual retirement accounts could potentially drop if the economy is in crisis. Retirees don’t want their funds eroded by inflation or stock market crashes, so they are opting to diversify with gold. Banks and the government are often less influential on the value and performance of gold; so many clients are interested in utilizing their current individual retirement account for a Gold IRA rollover. In fact, many analysts believe now is the time to buy gold, as it is set to increase in value.</p>
        </div>
        <div class="whybuy">
            <h2>Why buy from us?</h2>
            <p>At Altiva Gold, integrity and transparency are at the core of our mission. With decades of experience in the industry, we have earned the trust of thousands of satisfied customers worldwide. Our commitment to providing only the highest quality precious metals, coupled with competitive pricing and exceptional customer service, sets us apart as a trusted leader in the market. Every product undergoes rigorous quality assurance measures to ensure authenticity and purity, giving our customers peace of mind with every purchase. Whether you're a seasoned investor or just beginning your journey into precious metals, our knowledgeable team is here to guide you every step of the way. Join the countless individuals who have entrusted us with their investments, and experience the difference with  Altiva Gold today.</p>
        </div>
    </div>
    <div class="aboutUs">
        <div class="text">
            <!-- change this -->
            <h3>About Altiva Gold</h3>
            <p>At Altiva Gold, your long-term financial security is our main concern. We have been America’s Precious Metals leader since 1988, and we strive to not only earn your business but to maintain it with superior service.
                AGC has transacted over $3,000,000,000 in financial transactions in its 26 years of business. <a href="#">more about us</a></p>
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>




{% endblock content %}