{% extends "layout.html" %}

{% block bannerContent %}
    <div class="prices-row">
        <div class="pill">
            <h3>Prices</h3>
        </div>

        <div class="x">
            <span>Gold</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Silver</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Platinum</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        
        <div class="pill black">
            <h3>Charts</h3>
        </div>
    </div>
    <hr class="divider-h">
{% endblock bannerContent %}

{% block content %}
    <div class="shop-display">
        <div class="shop-sidebar">

        </div>
        <div class="shop-cards-column">
            <h3>Gold</h3>
            <div class="card">
                <div class="card-image"></div>
                <div class="content">
                    <h3>Name</h3>
                    <p><span>Weight</span> <span>Price</span></p>
                    <a href="#"><button>Add to cart</button></a>
                </div>
            </div>

            <h3>Silver</h3>
            <div class="card">
                <div class="card-image"></div>  
                <div class="content">
                    <h3>Name</h3>
                    <p><span>Weight</span> <span>Price</span></p>
                    <a href="#"><button>Add to cart</button></a>
                </div>
            </div>

            <h3>Platinum</h3>
            <div class="card">
                <div class="card-image"></div>
                <div class="content">
                    <h3>Name</h3>
                    <p><span>Weight</span> <span>Price</span></p>
                    <a href="#"><button>Add to cart</button></a>
                </div>
            </div>

        </div>

    </div>
    <div class="shop-page-content">

    </div>

    <div class="disclaimer">
        <p>
            Web Price Only
Online pricing is quoted in Real-time. Your price is set at moment purchase is finalized. Dates of coins cannot be chosen. Dates are determined by available stock, at the discretion of company staff. Qualifying purchase required for all transactions completed in the web store using online or TV promotions.
        </p>

    </div>
{% endblock %}
