{% extends "layout.html" %}

{% block bannerContent %}
    <div class="prices-row">
        <div class="pill">
            <h3>Prices</h3>
        </div>

        <div class="x">
            <span>Gold</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Silver</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        <div class="x">
            <span>Platinum</span>
            <div class="pill">
                <h3>$2400</h3>
            </div>
        </div>
        
        <div class="pill black">
            <h3>Charts</h3>
        </div>
    </div>
    <hr class="divider-h">
{% endblock bannerContent %}

{% block content %}
    <h1>Shop</h1>
    <p>Welcome to our shop. We have the following items for sale:</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
{% endblock %}
